<div style="text-align:center">
    <h1 appEmoji>Welcome to Angular 8</h1>
</div>

<div class="container">
    <div class="lession">
        <div>
            <h2>Lesson:</h2>
            <ul>
                <li><a routerLink="routing-example" routerLinkActive="active">Lession 7: Router & Navigation</a></li>
                <li><a routerLink="http-example" routerLinkActive="active">Lession 9: Http Client</a></li>
            </ul>
        </div>
        <div>
            <h2>Advance:</h2>
            <ul>
                <li><a routerLink="di" routerLinkActive="active">Lession 1: Dependency injection</a></li>
                <li><a routerLink="route-guard" routerLinkActive="active">Lession 3: Router guards</a></li>
                <li><a routerLink="rxjs" routerLinkActive="active">Lession 5: Rxjs library</a></li>
                <li><a routerLink="angular-animation" routerLinkActive="active">Lession 9: Angular animation</a></li>
                <li><a routerLink="dynamic-component" routerLinkActive="active">Lession 6: Dynamic Component</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>