table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  .btn-update {
    padding: 5px;
    margin-right: 10px;
    background-color: aqua;
  }

  .btn-delete {
    padding: 5px;
    background-color: chocolate;
  }
